header{
  padding-bottom: 10px;
  position: relative;
}

body{
  background: #999;
  text-align: center;
  width: 100%;
}

h1{
  font-size: 24px;
  color: #f0f2f5;
}

.logo{
  font-family: 'Bungee Inline';
  font-size: 28px;
}

.cards{
  display: flex;
  cursor: pointer;
  margin: 5rem 4rem;
  width: 94%;
  div{
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background: #f0f2f5;
    color: #3e3e3e;
    border-radius: 10px;
    :hover{
      background: #3e3e3e;
      color: #f0f2f5;
      transition: 0.5s ease-in-out;
    }
  }
}

.cards2{
  display: flex;
  cursor: pointer;
  margin: -3rem 17rem;
  div{
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background: #f0f2f5;
    border-radius: 10px;
    :hover{
      background: #3e3e3e;
      color: #f0f2f5;
      transition: 0.5s ease-in-out;
    }
  }
}

